p {
    margin-top: 0;
}

.input-field .prefix.active,
input[type=text]:focus:not([readonly])+label {
    color: #fff;
}

input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #fff;
}

.brand-logo {
    font-variant: small-caps;
}

.container {
    width: 100%;
}

.spacer2 {
    border-radius: 5px;
    border: 4px solid #AEAEAE;
    box-shadow: 2px 2px 3px #888888;

    background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;
}

.highlight {
    background-color: rgba(0,0,0,.5);
    padding: 2px 10px;
    margin: 10px;
    color: #00D800;
}

.highlight mark {
    background-color: rgba(250,0,0,.5);
    color: #fff;
}

.tab {
    margin-left: 43px;
}
