<div class="card">
    <div class="card-content grey lighten-3">
        <span class="card-title grey-text text-darken-4">
            {{ component.name }}
        </span>
    </div>
    <div class="card-image">
        <img src="/img/{{ component.image }}" height="150" alt="{{ component.image-alt }}" />
    </div>
    {% if component.documentation or component.examples %}
    <div class="card-action">
        {% if component.documentation %}
        <a href="{{ component.documentation }}">
            <i class="mdi-av-my-library-books"></i>
            Documentation
        </a>
        {% endif %}
        {% if component.examples %}
        <a href="{{ component.examples }}">
            <i class="mdi-action-explore"></i>
            Examples
        </a>
        {% endif %}
    </div>
    {% endif %}
</div>
