<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper red darken-4">
            <a href="/" class="brand-logo center">Zorg</a>

            <ul class="left">
                <li class="active"><a href="/"><i class="large mdi-action-home"></i></a></li>
                <li><a href="/platforms/">Platforms</a></li>
                <li><a href="/components/">Components</a></li>
            </ul>

            <ul class="right">
                <li><a href="#">Documentation</a></li>
                <li><a href="https://github.com/zorg-framework/zorg">Code</a></li>
            </ul>
        </div>
    </nav>
</div>
