---
layout: dark
title: Supported Components
---

<div class="container">
    <h2 class="white-text">{{ page.title }}</h2>
    <div class="divider"></div>
    <p></p>

    {% for component in site.data.components %}
    {% capture currentcycle %}{% cycle 'left', 'right' %}{% endcapture %}

    {% if currentcycle == 'left' %}
    <div class="row">
    {% endif %}
        <div class="col s12 m6">
            {% include component-card.html component=component %}
        </div>
    {% if currentcycle == 'right' %}
    </div>
    {% endif %}
    {% endfor %}

    {% assign oddcount = site.data.components.size | modulo: 2 %}
    {% if oddcount == 1 %}
    </div>
    {% endif %}
</div>
